<nz-layout class="layout">
  <nz-header class="header">
    <div class="title">Stars Manager</div>
    <div class="search-bar-wrap">
      <app-search-bar></app-search-bar>
    </div>
    <div class="user-pane-wrap">
      <app-user-panel></app-user-panel>
    </div>
  </nz-header>
  <nz-layout class="main">
    <nz-sider [nzWidth]="350" class="side">
      <div class="tags-wrap">
        <app-tags-filter></app-tags-filter>
      </div>
    </nz-sider>
    <nz-layout>
      <nz-content class="content">
        <div class="item-list-wrap">
          <app-item-list></app-item-list>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
