<nz-layout class="layout">
  <nz-sider [nzWidth]="350" class="side">
    <div class="user-pane-wrap">
      <!--TODO 用户面板-->
    </div>
    <div class="tags-wrap">
      <!--TODO 标签管理-->
    </div>
  </nz-sider>
  <nz-layout class="content">
    <nz-header class="header">
      <div class="search-bar-wrap">
        <!--TODO 搜索框-->
      </div>
    </nz-header>
    <nz-content class="main">
      <div class="item-list-wrap">
        <!--TODO 项目列表-->
      </div>
    </nz-content>
    <nz-footer class="footer">
      Github Stars Manager Implement By <a href="https://ng.ant.design/">NG-ZORRO</a>
    </nz-footer>
  </nz-layout>
</nz-layout>
